* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.leaflet-tooltip {
  border-radius: 10px;
}
.leaflet-tooltip-pane {
  z-index: 750;
}
.leaflet-popup-content-wrapper {
  border-radius: 10px;
}
h2 {
  margin: 5px;
}
.box {
  width: 15em;
}
tr {
  margin: 10px 0px;
}
td {
  width: 50em;
}
hr {
  color: grey;
}
.value {
  text-align: right;
  font-weight: 600;
}
